body{
  background-color: #ffd5cd;
  margin:0;
  text-align: center;
  position: relative;
  font-family: 'Merriweather',serif;

}

.top-container{
  background-color: #fcf1f1;
  position:relative;
  padding-top: 120px;
  color: #f9813a;


}

h1{
  font-size: 5.62rem;
  margin:40px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #1a1c20;
}

h2{
  font-family: 'Montserrat', sans-serif;
 color: #ec0101;
 margin-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #ec0101;
}

.top-cloud{
position:absolute;
right: 550px;
top:40px;
}


.bottom-cloud{
  position:absolute;
  left:550px;
  bottom: 250px;


}


.middle-container{
  margin-bottom: 50px;

}


.bottom-container{
  background-color: #ffa5a5;
margin-top: 20px;
padding-top: 40px;
padding-bottom: 35px;

}

 .mypicture{
   height:250px;
   width: 250px;

   margin-top: 30px;
 }

 .chi-smart1{
   height:15%;
   width: 15%;

   float: left;
   margin-right: 30px;


 }

 .chi-smart2{
   height:15%;
   width: 15%;

   float: right;
   margin-left: 30px;

 }


 .des{
   width:70%;
   margin:auto auto 70px auto;


 }

 .bd{
   font-weight: normal;
 }


 .skill-row{
   width:50%;
   margin: auto;
   text-align: left;
   line-height: 2;
   margin-bottom: 60px;
 }

 hr{
    border-style: none;
    border-top-style: dotted;
    width:4%;
    border-width: 6px;
    border-color: red;
    margin-bottom: 50px;
 }

 .copyright{
   padding-top: 10px;
   margin-bottom: 0;
   color: #fcf1f1;
   font-size: 0.75rem;
 }


 .btn {
	background-color:#f53d3d;
	-webkit-border-top-left-radius:18px;
	-moz-border-radius-topleft:18px;
	border-top-left-radius:18px;
	-webkit-border-top-right-radius:18px;
	-moz-border-radius-topright:18px;
	border-top-right-radius:18px;
	-webkit-border-bottom-right-radius:18px;
	-moz-border-radius-bottomright:18px;
	border-bottom-right-radius:18px;
	-webkit-border-bottom-left-radius:18px;
	-moz-border-radius-bottomleft:18px;
	border-bottom-left-radius:18px;
text-indent:0;
	border:1px solid #f7596e;
	display:inline-block;
	color:#f5f5f5;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #f00c1f;
}.btn:hover {
	background-color:#f06873;
}.btn:active {
	position:relative;
	top:1px;
}
.footer-link{
  color: red;
  font-family: 'Montserrat',sans-serif;
  margin: 10px,20px;
  text-decoration: none;
}
.footer-link:hover{
  color: white;
}

a{
  margin: 10px 20px;
}
